<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated diagram -->
      <package
            uri="http://www.eclipse.org/epf/diagram/1.0.0/diagram.ecore"
            class="org.eclipse.epf.diagram.model.ModelPackage"
            genModel="model/diagram.genmodel"/>
   </extension>

</plugin>
