<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated uma -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="uma.presentation.UmaModelWizardID"
            name="%_UI_UmaModelWizard_label"
            class="uma.presentation.UmaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UmaModelFile.gif">
         <description>%_UI_UmaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated uma -->
      <editor
            id="uma.presentation.UmaEditorID"
            name="%_UI_UmaEditor_label"
            icon="icons/full/obj16/UmaModelFile.gif"
            extensions="uma"
            class="uma.presentation.UmaEditor"
            contributorClass="uma.presentation.UmaActionBarContributor">
      </editor>
   </extension>

</plugin>
